html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #e5fbec;
  color: #051f0e;
}

.content {
  height: 100vh;
}

.header {
  height: 2.5%;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header .title {
  margin: 0;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 500;
}

.header a {
  color: #051f0e;
  text-decoration: none;
  margin-left: 1rem;
}

.main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h2 {
  margin: 0;
}

.active {
  text-decoration: line-through !important;
}

.menu-content {
  margin: 0 10rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.menu-item-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}